@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: Montserrat;
}

body {
  background-color: rgb(236, 236, 236);
}

#root {
  padding: 10% 7% 10% 7%;
}

.wrapper {
  background-color: rgb(248, 245, 245);
  color: #0290ff;
}

h1 {
  font-weight: 800;
  font-size: 2rem;
}
li a {
  font-size: 0.75rem;
  color: #a1a1a1; 
  text-decoration: none;
}


li a.active {
  color: #121212
}
.navbar {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.navbar ul {
  display: flex;
  gap: 2vw;
}

.navbar-wrapper {
  padding: 1.5vw 5vw 1.5vw 5vw;
  border-bottom: 1px solid rgb(236, 236, 236);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-item {
  margin: 0 5vw 0 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
}

.book-info {
  padding: 3vw 2vw 2vw 2vw;
  display: flex;
  flex-direction: column;
}

.link-btn {
  background: none;
  border: none;
  color: #4386bf;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons > *:not(:last-child) {
  padding-right: 1.2vw;
  border-right: 1px solid rgb(206, 206, 206);
}

.buttons > *:not(:first-child) {
  padding-left: 1.2vw;
}

.complete-progress-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.circle {
  margin-left: 1vw;
  width: 6vw;
  display: flex;  
}

.percent-completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chapter-info {
  position: relative; /* assure the element is relative */
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chapter-info::before {
  content: "";
  position: absolute;
  top: 50%; /* center the pseudo-element vertically */
  left: 0;
  height: 50%;
  border-left: 1px solid rgb(206, 206, 206);
  transform: translateY(-50%); /* adjust la position vertically */
}

.btn-update-progress {
  width: 55%;
}

.books-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 2vw 0 2vw 0;
}

.form {
  padding-top: 2vw;
  border-top: 1px solid rgb(206, 206, 206);
  margin: 0 5vw 0 5vw;
}



form {
  display: flex;
  justify-content: space-between;
}

input,
select {
  border: 1px solid rgb(206, 206, 206);
}

input {
  width: 22vw;
}

select {
  width: 15vw;
}

.add-btn {
  width: 11.5vw;
}

input,
select,
.add-btn {
  height: 3.5vw;
}

.book-form-wrapper {
  padding-bottom: 10vw;
}

.icon {
  width: auto;
  height: 2.313rem;
  color: #0090ff;
}
.category,
.completed  {
  color: #969696;
  
  
}
.category {
  font-weight: 800;
}

.category,
.author,
.completed {
  
  font-size: 0.875rem;
}
.title {
  color: #121212;
  font-family: 'Roboto Slab', serif;
  font-size: 1.35rem;
  font-weight: 900;
}
.author {
  color: #4386bf;
  padding-bottom: 1rem;
}
.percent {
  color:#121212;
  font-size: 2rem;
}

.add-new-book {
  padding-bottom: 1.5vw;
  color: #888888;
  font-weight: 700;
}